 ## Задание 1
   __*На складе лежат разные фрукты в разном количестве.
    Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.*__

In [21]:
def fruits (**kwargs):
    {print (f"Fruit {name} in amounts of {values} pcs")
        for name, values in kwargs.items()}
    return (f'The total amount of fruits: {sum(kwargs.values())}')

fruits (
    banan = 6,
    apple = 5,
    avokado = 4,
    orange = 3,
    kivi = 2,
    lemon = 1
)

Fruit banan in amounts of 6 pcs
Fruit apple in amounts of 5 pcs
Fruit avokado in amounts of 4 pcs
Fruit orange in amounts of 3 pcs
Fruit kivi in amounts of 2 pcs
Fruit lemon in amounts of 1 pcs

'The total amount of fruits: 21'

## Задание 2
   __*Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты 
   [100, 125, -90, 345, 655, -1, 0, 200].
   Используйте list comprehensions.*__

In [22]:
list1= [100, 125, -90, 345, 655, -1, 0, 200]
list2 = [i for i in list1 if i > 0]
print(f'List of advertising costs {list2}')
f'The total costs: {sum(list2)} '

List of advertising costs [100, 125, 345, 655, 200]

'The total costs: 1425 '

## Задание 3
__*Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]*__

### 3.1 Найдите, какая выручка у компании в ноябре
__*Используйте list comprehensions*__

### 3.2 Найдите выручку компании в зависимости от месяца
__*Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.*__

In [61]:
purchase_dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
              '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchase_sum = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274,
                  6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

list_month = [i.split('-')[1] for i in purchase_dates]

income_november = [(f'In the month of {list_month[i]}', f'Income {purchase_sum [j]}')
                          for i in range(len(list_month))
                          for j in range(len(purchase_sum))
                          if i == j and list_month[i] == '11']
income_november

[('In the month of 11', 'Income 4944'),
 ('In the month of 11', 'Income 3701'),
 ('In the month of 11', 'Income 7037'),
 ('In the month of 11', 'Income 4274'),
 ('In the month of 11', 'Income 2004'),
 ('In the month of 11', 'Income 2822'),
 ('In the month of 11', 'Income 316')]

In [60]:
print(income_november[0][0], f'revenue is: {sum ([amount for dates, amount in zip(purchase_dates, purchase_sum) if dates [5:7] == "11"])}')

In the month of 11 revenue is: 25098

In [63]:
def income_month(list_date: list, list_income: list) -> dict:
    dict_revenue = {}
    for i in range(len(list_date)):
        if list_date[i].split('-')[1] in dict_revenue.keys():
            dict_revenue[list_date[i].split('-')[1]] += list_income[i]
        else:
            dict_revenue[list_date[i].split('-')[1]] = list_income[i]
    return dict_revenue

income_month(purchase_dates, purchase_sum)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}