## Условие 1: 1 задача
Скачать файл в уроке.
Считать данные с помощью pandas.
Вывести на экран первые 5 строк.
Посмотреть на описание признаков и на их содержание.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('kc_house_data.csv', sep = ",", encoding="windows-1251")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

## Условие 2: 2 задача
Проведите первичный анализ данных

#### Изучите типы данных
int64, float64, object

#### Найдите количество пропущенных ячеек в данных
Пропущенных ячеек нет

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

### Посчитайте основные статистики по всем признакам и поизучайте их

In [11]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [8]:
df.describe(include=['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

## Условие 3: 3 задача
Ответьте на несколько вопросов

### 3.1 В каком диапазоне изменяются стоимости недвижимости?
От 75000 до 7700000

In [52]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

In [53]:
df.price.min(), df.price.max()

(75000.0, 7700000.0)

In [41]:
f'минимальная цена {df.price.min()}', f'максимальная цена {df.price.max()}'

('минимальная цена 75000.0', 'максимальная цена 7700000.0')

In [20]:
df.sort_values('price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670.0,0,1966,0,98022,47.2638,-121.906,1160,42882
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780.0,0,1942,0,98168,47.4739,-122.280,1700,10387
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430.0,0,1912,0,98014,47.6499,-121.909,1200,7500
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730.0,0,1943,0,98168,47.4808,-122.315,860,9000
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860.0,0,1954,0,98146,47.4987,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720.0,1280,2009,0,98004,47.6232,-122.220,4600,21750
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200.0,3000,2001,0,98039,47.6289,-122.233,3560,24345
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860.0,1030,2001,0,98039,47.6305,-122.240,4540,42730
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680.0,2360,1940,2001,98004,47.6500,-122.214,3930,25449
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570.0,3480,1910,1987,98102,47.6298,-122.323,3940,8800

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
13.8 %

In [50]:
df.sqft_living.mean()/df.sqft_lot.mean()*100

13.76781757959227

In [51]:
df['sqft_living'].mean()/df['sqft_lot'].mean()*100

13.76781757959227

### 3.3 Как много домов с разными этажами в данных?

In [55]:
df ['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [65]:
df['condition'].value_counts(normalize=True)*100

condition
3    64.919262
4    26.275852
5     7.870263
2     0.795817
1     0.138805
Name: proportion, dtype: float64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
Первый дом построили в 1900 г, последний - в 2015 г.

In [69]:
df.yr_built.min(), df.yr_built.max()

(1900, 2015)

## Условие 4: 4 задача
Ответьте на несколько вопросов

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
401 373

In [76]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
20 442,52

In [78]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

### 4.3 Как много домов коснулся ремонт?
914 домов

In [93]:
df[df['yr_renovated'] != 0].shape[0]

914

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
на 1 488 885

In [96]:
df[df['grade'] > 10]['price'].mean()-df[df['grade'] < 4]['price'].mean()

1488885.1175298805

## Условие 5: 5 задача
Ответьте на несколько вопросов
### 5.1 Выберите дом клиенту
### Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
Таких вариантов нет

In [223]:
df[(df['waterfront'] ==1)&(df['bathrooms'] >3)&(df['sqft_basement'] !=0)].shape[0]

0

### 5.2 Выберите дом клиенту
### Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В каком ценовом диапазоне будут дома?
От 1 295 000 до 3 000 000

In [206]:
df[(df['waterfront'] ==1)|(df['view'] ==4)
   &(df['condition'] == 5)
   &(df['yr_built']>=1980)].sort_values('price').head(21613)[['view','waterfront','condition','yr_built', 'price']]

       view  waterfront  condition  yr_built      price
14682     4           0          5      1985  1295000.0
18991     4           0          5      1985  1411600.0
18992     4           0          5      1985  1505000.0
17312     4           0          5      1982  1735000.0
11257     4           0          5      1989  3000000.0

### 5.3 Выберите дом клиенту
#### Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?
2.83

In [227]:
df[(df['sqft_basement'] ==0)
   &(df['floors'] ==2)
   &(df['price'] < 150000)]['condition'].mean()

2.8333333333333335

In [224]:
choise = df[(df['sqft_basement'] ==0)
   &(df['floors'] ==2)
   &(df['price'] < 150000)].head(21613)[['sqft_basement','floors','condition','price']]
choise

       sqft_basement  floors  condition     price
2589               0     2.0          3  134000.0
10105              0     2.0          3  139500.0
15610              0     2.0          3  140000.0
18332              0     2.0          1  130000.0
18939              0     2.0          4   90000.0
18988              0     2.0          3  140000.0

In [225]:
choise.condition.mean()

2.8333333333333335